{% extends 'layout/base.html' %}

{% include 'common/nav.html' %}

{% block content %}

<section class="main-section">

    <div class="page-title">
        <h1 class="font-bold text-3xl">Daily Tracking</h1>
        <p class="text-center text-sm">
            This tool helps you track your time efficiently and keep your tasks visible.
            <a class="text-blue-500" href="https://pypi.org/project/dokusan/" target="_blank">Login to get started</a>.
        </p>
    </div>

    <!-- Manual entry form -->
    <form method="POST" action="/add_entry" class="flex flex-col bg-gray-200 rounded-xl p-4 gap-4" onsubmit="return validateForm()">
        <div class="flex justify-between">
            <p class="text-md">Start adding your time entries below.</p>
            <p class="text-red-500 hidden" id="error-message">This is an error message</p>
        </div>
        
        <!-- Description -->
        <input type="text" 
               class="h-12 rounded-md p-4 text-sm text-gray-500" 
               name="description" 
               value="Write your description here..."
               onfocus="if (this.value == 'Write your description here...') { this.value=''; }" 
               onblur="if (this.value == '') { this.value='Write your description here...'; }"
               id="description">
        
        <div class="flex gap-4">
            <!-- Project -->
            <input type="text" 
                class="h-12 rounded-md p-4 text-sm text-gray-500 w-full" 
                name="project" 
                value="Project"
                onfocus="if (this.value == 'Project') { this.value=''; }" 
                onblur="if (this.value == '') { this.value='Project'; }"
                id="project">


            <!-- Client -->
            <input type="text" 
                    class="h-12 rounded-md p-4 text-sm text-gray-500 w-full" 
                    name="client" 
                    value="Client"
                    onfocus="if (this.value == 'Client') { this.value=''; }" 
                    onblur="if (this.value == '') { this.value='Client'; }"
                    id="client">
        </div>
        <!-- Time -->
        <div class="flex items-center">
            <input type="number" step="0.10" 
               name="duration" 
               class="h-12 rounded-md p-4 text-sm text-gray-500 w-1/4"
               value="0.00"
               onfocus="if (this.value == '0.00') { this.value=''; }"
               onblur="if (this.value == '') { this.value='0.00'; }"
               id="duration">
            <span class="m-4 text-gray-500">h</span>
            <!-- Button -->
            <input type="submit" 
                value="Add Entry" 
                class="h-12 w-full bg-blue-500 hover:bg-blue-600 text-white rounded-full cursor-pointer"/>
        </div>
        
    </form>

    <!-- List of entries -->
     <div class="flex flex-col">
        <div class="div-header flex justify-start text-sm text-gray-500 border-b-[1px] border-gray-300 py-2">
            <p>{{ entries|count }} entries | {{ total_duration }} hours</p>
        </div>

        {% for entry in entries %}

        <div id="" class="div-rows flex justify-between text-md border-b-[1px] py-4 whitespace-nowrap gap-4">
            <div class="flex justify-between w-full">
                <p class="overflow-hidden overflow-ellipsis">{{ entry.description }}</p>
                <p class="bg-blue-500 py-1 px-4 text-xs rounded-full text-white capitalize">{{ entry.project }}</p>
            </div>
            <div class="w-1/3 md:w-40 flex gap-4 items-center justify-end">
                <p class="text-right w-fit">{{ entry.duration }} h</p>
                <form action="/delete_entry/{{ entry.id }}" method="POST">
                    <input type="submit" value="Remove" class="text-blue-500 text-sm cursor-pointer"/>
                </form>
            </div>
        </div>

        {% endfor %}

     </div>

</section>

{% endblock %}