{% extends 'layout/base.html' %}

{% block content %}

<section class="flex flex-col gap-4 h-screen py-4">

    <div class="">
        <h1 class="text-4xl font-bold">Tracker</h1>
    </div>

    <!-- Manual entry -->
    <div class="flex flex-col bg-gray-200 rounded-xl p-4 gap-4">
        <p class="text-md">Start adding your time entries below.</p>
        
        <!-- Description -->
        <input type="text" 
               class="h-12 rounded-md p-4 text-sm text-gray-500" 
               name="Description" 
               value="Write your description here..."
               onfocus="if (this.value == 'Write your description here...') { this.value=''; }" 
               onblur="if (this.value == '') { this.value='Write your description here...'; }"
               id="">
        
        <!-- Time -->
        <div class="flex items-center">
            <input type="number" 
               name="" 
               class="h-12 rounded-md p-4 text-sm text-gray-500 w-1/4"
               value="0"
               onfocus="if (this.value == '0') { this.value=''; }"
               onblur="if (this.value == '') { this.value='0'; }"
               id="">
            <span class="m-4 text-gray-500">h</span>
            <!-- Button -->
            <input type="button" 
                value="Add Entry" 
                class="h-12 w-full bg-blue-500 hover:bg-blue-600 text-white rounded-full cursor-pointer"/>
        </div>
        
    </div>

    <!-- List of entries -->
     <div class="flex flex-col">
        <div class="div-header flex justify-between text-sm text-gray-500 border-b-[1px] border-gray-300 py-2">
            <p>Current entries: {{ entries|count }}</p>
            <p>{{ total_duration }} </p>
        </div>

        {% for entry in entries %}

        <div class="div-rows flex justify-between text-md border-b-[1px] py-4 whitespace-nowrap gap-4">
            <p class="overflow-hidden overflow-ellipsis">{{ entry.description }}</p>
            <div class="flex gap-4 items-center">
                <p class="text-right w-fit">{{ entry.duration }} h</p>
                <a href="#" class="text-blue-500 text-sm">Remove</a>
            </div>
        </div>

        {% endfor %}

     </div>

</section>

{% endblock %}